<h1 class="visually-hidden">Меню</h1>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"/>
        </svg>
        <span class="fs-4">Меню</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"/>
                </svg>
                {{ title }}
            </a>
        </li>
        <li>
            <a href="{% url 'publications:publications_list' %}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"/>
                </svg>
                Публикации пользователей
            </a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'publications:user_publications_list' %}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"/>
                </svg>
                Мои публикации
            </a>
        </li>
        <li>
            <a href="{% url 'publications:create_publication' %}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#collection"/>
                </svg>
                Создать публикацию
            </a>
        </li>
        <li>
            <a href="{% url 'publications:user_subscriptions_list' %}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"/>
                </svg>
                Мои подписки
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle"/>
                </svg>
                Контакты
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.user.is_authenticated %}
            <img src="/media/{{ user.user_avatar }}" alt="" width="32" height="32"
                 class="rounded-circle me-2">
            {% else %}
            <img src="/media/users/Аватарка без фото.png" alt="" width="32" height="32"
                 class="rounded-circle me-2">
            {% endif %}
            <strong>Пользователь</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            {% if request.user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'users:profile' pk=request.user.id%}">Профиль</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'users:login' %}">Вход</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<div class="b-example-divider"></div>
